    .hero-rigth {
    width: 272px;
    height: 240px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .hero-rigth-background {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards-ligth);
    border-radius: 20px;
}

.hero-rigth-background-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.icon-container {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    font-size: 50px;
    color: var(--purple);
}


.hero-rigth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
   

}

.hero-rigth-icon {
    font-size: 40px;
    color: var(--silver-cards-ligth)
}

.card-subtitle {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--silver-text);
    padding-top: 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .card-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color:  var(--black-text);
  }