
.main-center {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 240px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 30px;
  }

  .main-center-icons {
    height: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .main-center-icon {
    font-size: 45px;
    color: var(--purple)
  }

  .main-center-tiltes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-center-titles {
    display: flex;
    flex-direction: column;
  }

  .main-center-titles-icon {
    font-size: 40px;
    color: var(--silver-cards-ligth);
}

.card-subtitle {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--silver-text);
    padding-top: 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .card-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color:  var(--black-text);
  }