* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    
    --silver-background: #F7F9FC;
    --white: #FFFFFF;
    --white-btn: #FFFFFF;
    --black-text: #0F0F0F;
    --silver-text: #BCBCBC;
    --deep-silver-text: #00000066;
    --silver-cards: #D9D9D9;
    --silver-cards-ligth: #FBFBFCF2;
    --purple: #3E5CE3;
    --black-button: #323232;
    --silver-ligth-text: #676767;
    --purple-secundary: #3E5CE3;
    --gradient-dark: linear-gradient(to right, #232526, #414345);
    
  } 

  [data-theme='dark'] {
    --silver-background: #0F0F0F;
    --white:  #414345;
    --purple: #ffffff;
    --black-text: #ffffff;
  }

  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin: 0;
    background-color: var(--silver-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
  }
 

  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto; 
    width: 1160px;
    margin: 0 auto;
  }
  
  
  
  /*navbar*/
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--silver-background);
  }
  
  .logo {
  font-size: 36px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -2.5999999046325684px;
  text-align: left;
  color: var(--black-text);
  }
  
  .logo-last-name{
    color: var(--purple);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--silver-ligth-text);
    
  }
  
  nav a {
    text-decoration: none;
    color: var(--silver-ligth-text);
    font-size: 16px;
  }
  
  .cta-button {
  width: 130px;
  height: 45px;
  top: 35px;
  gap: 0px;
  border-radius: 16px;
  background-color: var(--black-button);
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  
  }
  
  /*main*/
  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .main-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
  }
  
  .main-hero {
    display: flex;
  }
  
  .main-footer {
    display: flex;
  }
  
  .featured {
      display: flex; 
      flex-direction: column;
      gap: 20px;
  }
  
  .featured-left-rigth-container {
    display: flex;
    flex-direction: row;
    gap:20px;
  }

  .card-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:120px;
  }
  
  .featured-rigth {
    width: 272px;
    height: 240px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .featured-rigth .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }
  
  .main-hero {
    display: flex;
    flex-direction: row;
    gap:20px;
  }
  
  .hero-left {
    width: 272px;
    height: 240px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .hero-left .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }

  .hero-rigth .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }

  .main-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  /*footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .logo-footer{
  width: 176px;
  height: 27px;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -2.5999999046325684px;
  text-align: center;
  
  }
  .footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:30px;
    
  }
  .footer-nav a {
    text-decoration: none;
    color: var(--silver-ligth-text);
  }
  .copyrigth-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--silver-ligth-text);
  }
  
  .copyrigth-text a {
    text-decoration: none;
    color: var(--purple);
  }
  
  
  /*pagina about*/
 

  .summary-left{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 371px;
    height: 371px;
    border-radius: 30px;
    
  }
  .summary-img {
    width: 323px;
    height: 323px;
    border-radius: 30px;
    background-color: var(--silver-cards);
  }
  
  .summary-rigth{
    display: flex;
    flex-direction: column;
    width: 765px;
    height: auto;
    justify-content: end;
  }
  
  .summary-title {
    height: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .summary-title h1 {
    font-family: Inter;
    font-size: 74px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-top: 10px;
  }
  
  .summary-description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 270px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 20px;
  }
  
  .about-main-hero{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    gap:20px;
   
  }
  .main-hero-left {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .main-hero-rigth {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-radius: 30px;
  }
  


/* About page */

.summary-rigth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*works page*/
.works {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projects-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-rigth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.projects-rigth-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* SunMoon */

.lottifile {
    width: 80px;
    height: auto;
    padding: 0px;
}

/* switch*/
.container-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
    outline: 1px solid #696969;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #f2f2f2;
    transition: .4s;
}

input:checked+.slider {
    background-color: #dfb017;
}


input:checked+.slider:before {
    transform: translateX(1.5em);
}

/* main content*/

@media (max-width: 768px) {
    

    .main-header {
        display: flex;
        flex-direction: column;
    }

    .featured {
        width: 100%;
    }

    .main-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  }