* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    /* ligth mode*/
    --silver-background: #F7F9FC;
    --white: #FFFFFF;
    --black-text: #0F0F0F;
    --silver-text: #BCBCBC;
    --deep-silver-text: #00000066;
    --silver-cards: #D9D9D9;
    --silver-cards-ligth: #FBFBFCF2;
    --purple: #3E5CE3;
    --black-button: #323232;
    --silver-ligth-text: #676767;
  
  
  } 
  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin: 0;
    background-color: var(--silver-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
  }
  
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    width: 1160px;
    margin: 0 auto;
  }
  
  
  
  /*navbar*/
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--silver-background);
  }
  
  .logo {
  font-size: 36px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -2.5999999046325684px;
  text-align: left;
  color: var(--black-text);
  }
  
  .logo-last-name{
    color: var(--purple);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--silver-ligth-text);
    
  }
  
  nav a {
    text-decoration: none;
    color: var(--silver-ligth-text);
    font-size: 16px;
  }
  
  .cta-button {
  width: 130px;
  height: 45px;
  top: 35px;
  gap: 0px;
  border-radius: 16px;
  background-color: var(--black-button);
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  
  }
  
  /*main*/
  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .main-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
  }
  
  .main-hero {
    display: flex;
  }
  
  .main-footer {
    display: flex;
  }
  
  .featured {
      display: flex; 
      flex-direction: column;
      gap: 20px;
  }
  
  .featured-left-rigth-container {
    display: flex;
    flex-direction: row;
    gap:20px;
  }

  .card-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:120px;
  }
  
  .featured-rigth {
    width: 272px;
    height: 240px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .featured-rigth .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }
  
  .main-hero {
    display: flex;
    flex-direction: row;
    gap:20px;
  }
  
  .hero-left {
    width: 272px;
    height: 240px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .hero-left .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }

  .hero-rigth .img {
    width: 224px;
    height: 126px;
    background-color: var(--silver-cards);
    border-radius: 20px;
  }

  .main-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  /*footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .logo-footer{
  width: 176px;
  height: 27px;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -2.5999999046325684px;
  text-align: center;
  
  }
  .footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:30px;
    
  }
  .footer-nav a {
    text-decoration: none;
    color: var(--silver-ligth-text);
  }
  .copyrigth-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--silver-ligth-text);
  }
  
  .copyrigth-text a {
    text-decoration: none;
    color: var(--purple);
  }
  
  @media (max-width: 768px) {
    .content-container {
        width: 100%;
        padding: 20px;
    }
  
    .main-header, .main-hero, .main-footer {
        flex-direction: column;
        gap: 40px;
    }
  
    .featured-left, .featured-rigth, .hero-left, .hero-rigth, .main-center, .main-footer-left, .main-footer-rigth {
        width: 100%;
        height: auto;
    }
  }
  
  
  /*pagina about*/
  .summary-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 371px;
    height: 371px;
    border-radius: 30px;
    background-color: var(--white);
  }
  .summary-img {
    width: 323px;
    height: 323px;
    border-radius: 30px;
    background-color: var(--silver-cards);
  }
  
  .summary-rigth{
    display: flex;
    flex-direction: column;
    width: 765px;
    height: auto;
  }
  
  .summary-title {
    height: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .summary-title h1 {
    font-family: Inter;
    font-size: 74px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-top: 10px;
  }
  
  .summary-description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 270px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 20px;
  }
  
  .about-main-hero{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    gap:20px;
   
  }
  .main-hero-left {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  .main-hero-rigth {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-radius: 30px;
  }
  
  
  @media (max-width: 768px) {
    .content-container {
        width: 100%;
        padding: 20px;
    }
  
    .main-header, .main-hero, .main-footer {
        flex-direction: column;
        gap: 40px;
    }
  
    .featured-left, .featured-rigth, .hero-left, .hero-rigth, .main-center, .main-footer-left, .main-footer-rigth {
        width: 100%;
        height: auto;
    }
  }

/* About page */

.summary-rigth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}