.main-footer-rigth {
    width: 50%;
    height: 240px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 20px;
  }

  [data-theme='dark'] .main-footer-rigth {
    background: linear-gradient(114.15deg, rgba(255, 255, 255, 0.075) 10.15%, rgba(255, 255, 255, 0.0125) 89.36%);
    border: 1px solid;
    border-image-source: linear-gradient(118.17deg, rgba(255, 255, 255, 0.0875) 14.33%, rgba(255, 255, 255, 0.0175) 87.33%);
  }
  
  .main-footer-rigth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 100%;
  }
  
  .main-footer-rigth-container h1 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.03em;
    text-align: left;
    color: var(--black-text);
    padding-bottom: 40px;
  }

  .main-footer-rigth-container h1 span {
    color: var(--purple-secundary);
  }

  .star-icon {
    font-size: 40px;
    color: var(--silver-cards-ligth);
    padding-bottom: 25px;
  }
  