.about-img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 371px;
    height: 371px;
    border-radius: 30px;
    background-color: var(--white);
}

[data-theme='dark'] .about-img-card {
    background: linear-gradient(114.15deg, rgba(255, 255, 255, 0.075) 10.15%, rgba(255, 255, 255, 0.0125) 89.36%);
    border: 1px solid;
    border-image-source: linear-gradient(118.17deg, rgba(255, 255, 255, 0.0875) 14.33%, rgba(255, 255, 255, 0.0175) 87.33%);
  }

.photo-img {
    width: 323px;
    height: 323px;
    border-radius: 30px;
    background-color: var(--silver-cards);
}

@media (max-width: 768px) { 
    .about-img-card{
        width: 100%;
    }
}